/*=== Google Fonts ===*/
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* ========================================
                Basic styles
   ======================================== */

:root {
  --border-basic-color: #eff0f2;
  --text-basic-color: #363949;
  --background-color-1: #ffffff;
  --background-color-2: #f8fafc;
  --color: "#F7F8F9";
  --text-primary: #13666b;
  --bs-white: #ffffff;
  --bs-primary: #ff3232;
  --bs-secondary: #a8d1d1;
  --bs-info: #1acbf5;
  --bs-warning: #f0c711;
  --bs-success: #13c30d;
  --bs-danger: #e2092b;
  --bs-primary-light: #d1e0f7;
  --bs-info-light: #a3fefb;
  --bs-warning-light: #fdf19f;
  --bs-danger-light: #fca79b;
  --bs-success-light: #b6f99c;
  --text-muted-color: #9f9f9f;
}

::-webkit-scrollbar {
  width: 6px;
  background: lightgray;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: #f2f2f2;
  background: var(--bs-primary);
  border-radius: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.gutter-top {
  padding-top: 5rem;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

address {
  margin: 0;
}

body {
  color: #ffffff;
  /* font-family: "Outfit", sans-serif; */
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
  background: #000000;
}

a {
  text-decoration: none;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

img {
  max-width: 100%;
  display: block;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: var(--bs-primary);
}

ol,ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

input {
  transition: all 500ms ease;
}

::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  transition: all 500ms ease;
}

p {
  position: relative;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
  transition: all 500ms ease;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: 700;
  transition: all 500ms ease;
  color: #fff;
  /* font-family: 'Jost', sans-serif; */
}

.fs-26 {
  font-size: 26px !important;
}

.bg-gray {
  background-color: #f3f3f3 !important;
}

.section-pad {
  padding: 70px 0px;
}

.text-primary-color {
  color: var(--bs-primary);
}

.btn-primary-line {
  box-sizing: border-box;
  appearance: none;
  background-color: var(--bs-primary);
  border: 1px solid #004657;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  padding: 1em 2.5em;
  text-decoration: none;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.btn-primary-line:hover {
  color: #fff;
  background-color: rgb(236 72 20 /1);
}

.section-heading {
  margin-bottom: 45px;
}

.page-section-title {
  margin-bottom: 30px;
}

.section-heading .sub-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  color:#ffffff;
}

.section-heading .sub-heading::after {
  content: "";
  background-color: #97c3c5;
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: 2px;
  border-radius: 5px;
  right: 0;
  z-index: -1;
}

.section-heading .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: capitalize;
  position: relative;
  line-height: 36px;
  color: #ffffff;
}

.page-section-title .title {
  font-weight: 700;
  font-size: 32px;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: capitalize;
  text-shadow: 5px 5px 1px #f5f5f5;
  position: relative;
  line-height: 36px;
  color: #222222;
}

.page-section-title .pre-title {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  padding: 7px 20px;
  background: #e2e2e2;
  font-weight: 700;
  border-radius: 6px;
  margin-bottom: 10px;
}

.section-desc {
  font-size: 20px;
}

.page-content p {
  font-size: 20px;
  line-height: 34px;
}

.color {
  color: var(--bs-primary);
}

.back-to-top {
  right: 35px;
  z-index: 999;
  bottom: 58px;
  display: none;
  position: fixed;
}

.back-to-top .scrollUp {
  z-index: 1;
  width: 42px;
  height: 42px;
  display: flex;
  font-size: 15px;
  position: relative;
  align-items: center;
  border-radius: 100%;
  color: #222222;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid var(--bs-border-color);
  box-shadow: 0 20px 30px 0 rgba(174, 191, 210, 0.3);
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  box-shadow: rgba(255, 255, 255, 0.025) 0px 0.362176px 0.651917px -1px inset, rgba(255, 255, 255, 0.036) 0px 3px 5.4px -2px inset;
  background-color: #121214;
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  transition: 0.4s;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: #fff;
  font-size: 1.25rem;
  padding: 0.4rem;
  text-decoration: none;
  transition: 0.4s;
  display: flex;
  border-radius: 5rem;
}

@media screen and (min-width: 630px) {
  .nav__menu {
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index:9999;
  }
}
.section-style{
  height: 100vh;
    background-color: #000000;
    margin: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}
.banner-inner-area{
  text-align: center;
}

.banner-inner-area h1 {
  font-size: 40px;
  margin-bottom:15px;
}

.banner-inner-area h2 {
  font-size: 20px;
}

.thumbnail {
  background-color: #23262b;
  border-color: #23262b;
  border-radius: 100px;
  width: 150px;
  margin:0 auto;
}

.thumbnail img {
  width: 150px;
}
/*==================================
            Header Section Styles 
        ================================*/



/*==================================
        About Section Styles 
    ================================*/

  .shadow-card{
    padding: 40px;
    border: 1px solid #27272A;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.025) 0px 0.362176px 0.651917px -1px inset, rgba(255, 255, 255, 0.036) 0px 3px 5.4px -2px inset;
    background-color: #121214;
  }


  .timeline { margin-bottom: 30px; }

.timeline .timeline-title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}
.timeline-title h3{
  font-size:22px;
}
.timeline-list {
  font-size: var(--fs-6);
  margin-left: 52px;
}

.timeline-item {
    position: relative;
    padding-bottom: 4rem;
    padding-inline-start: 3rem;
}
.timeline-content {
    box-shadow: rgba(255, 255, 255, 0.025) 0px 0.362176px 0.651917px -1px inset, rgba(255, 255, 255, 0.036) 0px 3px 5.4px -2px inset;
    background-color: #121214;
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 2rem;
    transition: all var(--transition);
}
.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
  font-size: var(--fs-6);
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-list span {
  color: var(--bs-primary);
  font-weight: 400;
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -30px;
    width: 1px;
    height: calc(100% + 28px);
    background: #3B3B3B;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--bs-primary);
  border-radius: 50%;
  box-shadow: 0 0 0 4px #3B3B3B;
}

.timeline-text {
  color: var(--light-gray);
  font-weight: 300;
  line-height: 1.6;
}
.icon-box {
  position: relative;
    width: 45px;
    height: 45px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--bs-primary);
  z-index: 1;
  border: 1px solid #3B3B3B;
}
.timeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.timeline-year {
    
    color: var(--bs-primary);
    font-weight: 700;
    font-size: 0.9rem;
}
.timeline-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.timeline-company {
    color: var(--bs-primary);
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.timeline-achievements {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    background: #0000;
    border-radius: 12px;
    border-left: 3px solid var(--bs-primary);
}

.tech_card{
      background: transparent;
    border: 1px solid #27272A;
    margin-bottom:20px;
    padding:18px;
    min-height: 200px;
    border-radius: 10px;
}

.tech_card_head{
 display: flex;
 align-items: center;
 gap:10px;
 margin-bottom:20px;
     
}
.tech_card_head img{
  width:35px;
}
.tech_card_head h3{
color: #fff;
    margin-bottom: 0;
    font-size: 21px;
}
.tech-stack{
  display: flex;
    align-items: center;
    background: #242425;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 10px;
}
.tech-stack img{
  width:24px;
}
.tech-stack h4{
     font-size: 14px;
    margin-bottom: 0;
    color: #fff;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 1rem;
}
.skill-item {
    text-align: center;
    background: var(--bg-card);
    border: 1px solid #27272A;
    padding: 1.5rem;
    border-radius: 12px;
    transition: 0.2s;
}
.skill-icon-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 0.8rem;
    filter: drop-shadow(rgba(255, 255, 255, 0.1) 0px 0px 5px);
}
.skill-name {
    display: block;
    font-size: 0.85rem;
    color: var(--text-gray);
}

.footer-bottom {
    position: relative;
    padding: 20px 0px;
}
.footer-bottom .copyright_text {
    color: #fff;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.social-link {
    font-size: 17px;
    color:#fff;
}
.education-card{
   padding:20px;
  box-shadow: rgba(230, 36, 41, 0.1) 0px 10px 15px -3px, rgba(230, 36, 41, 0.05) 0px 4px 6px -2px;
  border: 1px solid #27272A;
  border-radius: 10px;
}
.Certifications-card{
  display: flex;
  padding:20px;
  box-shadow: rgba(230, 36, 41, 0.1) 0px 10px 15px -3px, rgba(230, 36, 41, 0.05) 0px 4px 6px -2px;
  border: 1px solid #27272A;
  border-radius: 10px;
  margin-bottom:20px;
}
.Certifications-card h3{
  font-size: 20px;
}
.timeline-marker {
    position: absolute;
    left: -2.5rem;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--bs-primary);
    border: 3px solid var(--bg-dark);
    box-shadow: 0 0 20px var(--primary), 0 0 40px var(--primary);
    animation: pulse 2s infinite;
}
.education-title{
  margin-bottom:10px;
}
.education-title i{
  font-size: 30px;
}
.education-title h3{
  font-size: 24px;
  margin-bottom:0;
}